<section>
	<div class="container" id="details">
		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>Add a Listing</li>
                </ol>
            </div>
        </div>
		<div class="row" style="background-color: #fff;">
			<div class="col-sm-3" style="background-color: #fff;">
				<div class="left-sidebar" style="background-color: #fff;">
					<br />
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#party" onclick="return false;" style="color: #696763; font-family: 'Roboto', sans-serif; font-size: 14px; text-decoration: none; text-transform: uppercase;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Party &amp; Wedding
									</a>
								</h4>
							</div>
							<div id="party" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Catering">Catering Services </a></li>
										<li><a href="index.html#/list/Floral">Floral Services </a></li>
										<li><a href="index.html#/list/Hall Rentals">Hall Rentals</a></li>
										<li><a href="index.html#/list/Photography and Video">Photography &amp; Video</a></li>
										<li><a href="index.html#/list/Event Planning and Organisers">Event Planning &amp; Organisers</a></li>
										<li><a href="index.html#/list/Invitation Designing">Invitation Designing</a></li>
										<li><a href="index.html#/list/Orchestra and Music">Orchestra &amp; Music</a></li>
										<li><a href="index.html#/list/Costume">Costume Rentals</a></li>
										<li><a href="index.html#/list/Lights and Sounds">Lights &amp; Sounds</a></li>
										<li><a href="index.html#/list/Bridal Hair and Make Up">Bridal Hair &amp; Make up</a></li>
										<li><a href="index.html#/list/Wedding Attire">Wedding Attire</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#professional" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Professional Services
									</a>
								</h4>
							</div>
							<div id="professional" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Courier and Distribution">Courier &amp; Distribution</a></li>
										<li><a href="index.html#/list/Engineering">Engineering Services</a></li>
										<li><a href="index.html#/list/Accounting">Accounting Services</a></li>
										<li><a href="index.html#/list/Legal">Legal Services</a></li>
										<li><a href="index.html#/list/Photography and Video">Photography &amp; Video</a></li>
										<li><a href="index.html#/list/Computer and IT">Computer &amp; IT Services</a></li>
										<li><a href="index.html#/list/Security">Security Services</a></li>
										<li><a href="index.html#/list/Training">Training Services</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#home" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Home Services
									</a>
								</h4>
							</div>
							<div id="home" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Home Construction">Home Construction</a></li>
										<li><a href="index.html#/list/Plumbing">Plumbing Services</a></li>
										<li><a href="index.html#/list/Waterproofing">Waterproofing Services</a></li>
										<li><a href="index.html#/list/Interior Designing">Interior Designing</a></li>
										<li><a href="index.html#/list/Flooring">Flooring Services</a></li>
										<li><a href="index.html#/list/Demolition">Demolition Services</a></li>
										<li><a href="index.html#/list/Appliance Repair">Appliance Repair services</a></li>
										<li><a href="index.html#/list/Cleaning">Cleaning Services</a></li>
										<li><a href="index.html#/list/Lawn and Garden">Lawn &amp; Garden Services</a></li>
										<li><a href="index.html#/list/Pest Control">Pest Control</a></li>
										<li><a href="index.html#/list/Solar Products and Installation">Solar Products &amp; Installation</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#health" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Health &amp; Wellness
									</a>
								</h4>
							</div>
							<div id="health" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Dental">Dental Services</a></li>
										<li><a href="index.html#/list/Family and Internal Medicine">Family &amp; Internal Medicine</a></li>
										<li><a href="index.html#/list/Psychiatry">Psychiatry Medicine</a></li>
										<li><a href="index.html#/list/Pediatrics">Pediatrics Medicine</a></li>
										<li><a href="index.html#/list/Obstetrics and Gynecology">Obstetrics &amp; Gynecology</a></li>
										<li><a href="index.html#/list/General Surgery">General Surgery</a></li>
										<li><a href="index.html#/list/Neurology">Neurology</a></li>
										<li><a href="index.html#/list/Orthopedic Surgery">Orthopedic Surgery</a></li>
										<li><a href="index.html#/list/Hematology and Oncology">Hematology &amp; Oncology</a></li>
										<li><a href="index.html#/list/Otolaryngology">Otolaryngology</a></li>
										<li><a href="index.html#/list/Cardiology">Cardiology</a></li>
										<li><a href="index.html#/list/Gastroenterology">Gastroenterology</a></li>
										<li><a href="index.html#/list/Urology">Urology Medicine</a></li>
										<li><a href="index.html#/list/Pulmonolgy">Pulmonolgy</a></li>
										<li><a href="index.html#/list/Dermatology">Dermatology</a></li>
										<li><a href="index.html#/list/Geriatrics">Geriatrics</a></li>
										<li><a href="index.html#/list/Anesthesiology">Anesthesiology</a></li>
										<li><a href="index.html#/list/Medical Supplies and Drugstores">Medical Supplies &amp; Drugstores</a></li>
										<li><a href="index.html#/list/Hospitals and Clinics">Hospitals &amp; Clinics</a></li>
										<li><a href="index.html#/list/Fitness and Personal Care">Fitness &amp; Personal Care</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#properties" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Properties &amp; Rental
									</a>
								</h4>
							</div>
							<div id="properties" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Apartments and Flats">Apartments &amp; Flats</a></li>
										<li><a href="index.html#/list/Residential Houses">Residential Houses</a></li>
										<li><a href="index.html#/list/Villas and Beach House">Villas &amp; Beach House</a></li>
										<li><a href="index.html#/list/Office Space">Office Space</a></li>
										<li><a href="index.html#/list/Virtual Office">Virtual Office</a></li>
										<li><a href="index.html#/list/Industrial Space">Industrial Space</a></li>
										<li><a href="index.html#/list/Vacant Lot">Vacant Lot</a></li>
										<li><a href="index.html#/list/Commercial Shops">Commercial Shops</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#travel" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Travel Services
									</a>
								</h4>
							</div>
							<div id="travel" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Gasoline Stations">Gasoline Stations</a></li>
										<li><a href="index.html#/list/Lodging">Lodging</a></li>
										<li><a href="index.html#/list/Pasalubong Centers">Pasalubong Centers</a></li>
										<li><a href="index.html#/list/Transport">Transport</a></li>
										<li><a href="index.html#/list/Travel Agencies">Travel Agencies</a></li>
										<li><a href="index.html#/list/Restaurants and Cafes">Restaurants &amp; Cafes</a></li>
										<li><a href="index.html#/list/Groceries and Convenience Stores">Groceries &amp; Convenience Stores</a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div><!--/category-products-->
					
				</div>
			</div>
			
			<div class="col-sm-9 padding-right">
				
				<div class="category-tab shop-details-tab"><!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a data-target="#">Manage Business Profile</a></li>
							<!--<li class="current">Manage Business Profile</li>-->
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="reviews">
							<div class="col-sm-12">
								<div ng-hide="{{logged}}">
									<p><b>You need to be logged in to add a business.</b></p>
								</div>
								
								<div ng-show="{{logged}}">
									<form ng-submit="addPost()">
										<p><b>Business Name: </b></p>
										<span>
											<fieldset class="form-group">
											  <input type="text" class="form-control" ng-model="post.sName" ng-model-options="{ getterSetter: true }" placeholder="enter name of business or service" required />
											</fieldset>
										</span>
										<p><b>Location (Region): </b></p>
										<span>
											<fieldset class="form-group">
												<select ng-model="tempRegion" class="form-control" data-ng-options="option for option in mainLoc" data-ng-change="getSubLocs()" required>
												</select>
											</fieldset>
										</span>
										<div data-ng-show='subLoc.length'>
											<p><b>Location (City): </b></p>
											<span>
												<fieldset class="form-group">
													<select ng-model="tempCity" class="form-control" data-ng-options="option for option in subLoc" required>
													</select>
												</fieldset>
											</span>
										</div>
										<p><b>Business Address: </b></p>
										<span>
											<fieldset class="form-group">
											  <input type="text" class="form-control" ng-model="details.sAddress" ng-model-options="{ getterSetter: true }" placeholder="Philippines only" required />
											</fieldset>
										</span>
										<p><b>Category: </b></p>
										<span>
											<fieldset class="form-group">
												<select ng-model="tempCat" class="form-control" data-ng-options="option for option in mainCat" data-ng-change="getSubCats()" required>
												</select>
											</fieldset>
										</span>
										<div data-ng-show='subCats.length'>
											<p><b>Sub Category: </b></p>
											<span>
												<fieldset class="form-group">
													<select ng-model="tempSubCat" class="form-control" data-ng-options="option.subCat for option in subCats" required>
													</select>
												</fieldset>
											</span>
										</div>
										<p><b>Opening Hours: </b></p>
										<span>
											<fieldset class="form-group">
												<input type="text" class="form-control" ng-model="details.sOpen" ng-model-options="{ getterSetter: true }" placeholder="enter the hours and/or the days" required />
											</fieldset>
										</span>
										<p><b>Description: </b></p>
										<span>
											<fieldset class="form-group">
												<textarea ng-model="details.sDesc" class="form-control" placeholder="Write a short description of the service..." required></textarea>
											</fieldset>
										</span>
										<p><b>Contact Info: </b></p>
										<span>
											<fieldset class="form-group">
												<input type="text" class="form-control" ng-model="details.sPerson" ng-model-options="{ getterSetter: true }" placeholder="enter contact person" required />
											</fieldset>
										</span>
										<span>
											<fieldset class="form-group">
												<input type="text" class="form-control" ng-model="details.sPhone" ng-model-options="{ getterSetter: true }" placeholder="enter phone number" required />
											</fieldset>
										</span>
										<span>
											<fieldset class="form-group">
												<input type="text" class="form-control" ng-model="details.sMobile" ng-model-options="{ getterSetter: true }" placeholder="enter mobile number" required />
											</fieldset>
										</span>
										<span>
											<fieldset class="form-group">
												<input type="email" class="form-control" ng-model="details.sEmail" ng-model-options="{ getterSetter: true }" placeholder="enter email address" required />
											</fieldset>
										</span>
										<span>
											<fieldset class="form-group">
												<input type="text" class="form-control" ng-model="details.sFB" ng-model-options="{ getterSetter: true }" placeholder="eg. www.facebook.com/sampleurl" required />
											</fieldset>
										</span>
										<p><b>Upload Image: </b></p>
										<span>
											<fieldset class="form-group" style="overflow: hidden;">
												<input id="inputFileToLoad" type="file" class="form-control" accept="image/*" onchange="angular.element(this).scope().openFile()" />
											</fieldset>
										</span>
										<button type="submit" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><!--/category-tab-->
			</div>
		</div>
	</div>
</section>