<!-- Page Content -->
    <div class="container" id="list-body">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row" style="padding-top: 40px;">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>masSULIT Marketing Solutions</li>
                    <li class="active">Display Advertising</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
		<div class="row" style="background-color: #fff;">
			<div class="col-sm-3" style="background-color: #fff;">
				<div class="left-sidebar" style="background-color: #fff;">
					<br />
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#party" onclick="return false;" style="color: #696763; font-family: 'Roboto', sans-serif; font-size: 14px; text-decoration: none; text-transform: uppercase;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Party &amp; Wedding
									</a>
								</h4>
							</div>
							<div id="party" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Catering">Catering Services </a></li>
										<li><a href="index.html#/list/Floral">Floral Services </a></li>
										<li><a href="index.html#/list/Hall Rentals">Hall Rentals</a></li>
										<li><a href="index.html#/list/Photography and Video">Photography &amp; Video</a></li>
										<li><a href="index.html#/list/Event Planning and Organisers">Event Planning &amp; Organisers</a></li>
										<li><a href="index.html#/list/Invitation Designing">Invitation Designing</a></li>
										<li><a href="index.html#/list/Orchestra and Music">Orchestra &amp; Music</a></li>
										<li><a href="index.html#/list/Costume">Costume Rentals</a></li>
										<li><a href="index.html#/list/Lights and Sounds">Lights &amp; Sounds</a></li>
										<li><a href="index.html#/list/Bridal Hair and Make Up">Bridal Hair &amp; Make up</a></li>
										<li><a href="index.html#/list/Wedding Attire">Wedding Attire</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#professional" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Professional Services
									</a>
								</h4>
							</div>
							<div id="professional" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Courier and Distribution">Courier &amp; Distribution</a></li>
										<li><a href="index.html#/list/Engineering">Engineering Services</a></li>
										<li><a href="index.html#/list/Accounting">Accounting Services</a></li>
										<li><a href="index.html#/list/Legal">Legal Services</a></li>
										<li><a href="index.html#/list/Photography and Video">Photography &amp; Video</a></li>
										<li><a href="index.html#/list/Computer and IT">Computer &amp; IT Services</a></li>
										<li><a href="index.html#/list/Security">Security Services</a></li>
										<li><a href="index.html#/list/Training">Training Services</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#home" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Home Services
									</a>
								</h4>
							</div>
							<div id="home" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Home Construction">Home Construction</a></li>
										<li><a href="index.html#/list/Plumbing">Plumbing Services</a></li>
										<li><a href="index.html#/list/Waterproofing">Waterproofing Services</a></li>
										<li><a href="index.html#/list/Interior Designing">Interior Designing</a></li>
										<li><a href="index.html#/list/Flooring">Flooring Services</a></li>
										<li><a href="index.html#/list/Demolition">Demolition Services</a></li>
										<li><a href="index.html#/list/Appliance Repair">Appliance Repair services</a></li>
										<li><a href="index.html#/list/Cleaning">Cleaning Services</a></li>
										<li><a href="index.html#/list/Lawn and Garden">Lawn &amp; Garden Services</a></li>
										<li><a href="index.html#/list/Pest Control">Pest Control</a></li>
										<li><a href="index.html#/list/Solar Products and Installation">Solar Products &amp; Installation</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#health" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Health &amp; Wellness
									</a>
								</h4>
							</div>
							<div id="health" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Dental">Dental Services</a></li>
										<li><a href="index.html#/list/Family and Internal Medicine">Family &amp; Internal Medicine</a></li>
										<li><a href="index.html#/list/Psychiatry">Psychiatry Medicine</a></li>
										<li><a href="index.html#/list/Pediatrics">Pediatrics Medicine</a></li>
										<li><a href="index.html#/list/Obstetrics and Gynecology">Obstetrics &amp; Gynecology</a></li>
										<li><a href="index.html#/list/General Surgery">General Surgery</a></li>
										<li><a href="index.html#/list/Neurology">Neurology</a></li>
										<li><a href="index.html#/list/Orthopedic Surgery">Orthopedic Surgery</a></li>
										<li><a href="index.html#/list/Hematology and Oncology">Hematology &amp; Oncology</a></li>
										<li><a href="index.html#/list/Otolaryngology">Otolaryngology</a></li>
										<li><a href="index.html#/list/Cardiology">Cardiology</a></li>
										<li><a href="index.html#/list/Gastroenterology">Gastroenterology</a></li>
										<li><a href="index.html#/list/Urology">Urology Medicine</a></li>
										<li><a href="index.html#/list/Pulmonolgy">Pulmonolgy</a></li>
										<li><a href="index.html#/list/Dermatology">Dermatology</a></li>
										<li><a href="index.html#/list/Geriatrics">Geriatrics</a></li>
										<li><a href="index.html#/list/Anesthesiology">Anesthesiology</a></li>
										<li><a href="index.html#/list/Medical Supplies and Drugstores">Medical Supplies &amp; Drugstores</a></li>
										<li><a href="index.html#/list/Hospitals and Clinics">Hospitals &amp; Clinics</a></li>
										<li><a href="index.html#/list/Fitness and Personal Care">Fitness &amp; Personal Care</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#properties" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Properties &amp; Rental
									</a>
								</h4>
							</div>
							<div id="properties" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Apartments and Flats">Apartments &amp; Flats</a></li>
										<li><a href="index.html#/list/Residential Houses">Residential Houses</a></li>
										<li><a href="index.html#/list/Villas and Beach House">Villas &amp; Beach House</a></li>
										<li><a href="index.html#/list/Office Space">Office Space</a></li>
										<li><a href="index.html#/list/Virtual Office">Virtual Office</a></li>
										<li><a href="index.html#/list/Industrial Space">Industrial Space</a></li>
										<li><a href="index.html#/list/Vacant Lot">Vacant Lot</a></li>
										<li><a href="index.html#/list/Commercial Shops">Commercial Shops</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordian" href="#travel" onclick="return false;">
										<span class="badge pull-right" style="background:none; border-radius: 10px; color: #696763 !important; display: inline-block; font-size: 12px; font-weight: bold; line-height: 1; min-width: 10px; padding: 3px 7px; text-align: center; vertical-align: baseline; white-space: nowrap;"><i class="fa fa-plus"></i></span>
										Travel Services
									</a>
								</h4>
							</div>
							<div id="travel" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="index.html#/list/Gasoline Stations">Gasoline Stations</a></li>
										<li><a href="index.html#/list/Lodging">Lodging</a></li>
										<li><a href="index.html#/list/Pasalubong Centers">Pasalubong Centers</a></li>
										<li><a href="index.html#/list/Transport">Transport</a></li>
										<li><a href="index.html#/list/Travel Agencies">Travel Agencies</a></li>
										<li><a href="index.html#/list/Restaurants and Cafes">Restaurants &amp; Cafes</a></li>
										<li><a href="index.html#/list/Groceries and Convenience Stores">Groceries &amp; Convenience Stores</a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div><!--/category-products-->
					
				</div>
			</div>

        <!-- Project One -->
			<div class="col-sm-8" style="background:#FFF;border: 1px solid #F7F7F0;">
				<div class="row conditions" style="padding-top: 40px;">
					<div class="col-md-12 padding-base">
						<img src="images/display_advertising.png" style="display: block; margin-left: auto; margin-right: auto;" /> 
					</div>
				</div>

				<div class="container-fluid download-app" style="padding-top: 40px;">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 text-center padding-base">
							<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A;">Easy and effective masSulit adverts</h2>
							<h4 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;">Your Audience Awaits</h4>
							<br />
							<div class="row">
															
								<div class="col-md-6 col-sm-6 spacing-base">
									<div class="spacing-small" style="height:100px;">
										<i class="fa fa-users fa-5x"></i>
									</div>
									<p style="font: 13px/1 'Open Sans', sans-serif;">Get Found by getting featured. Thousands of consumers search masSulit every month to find local business like yours -- and when they do, they see featured services on the masSulit's front page and within featured category giving it more visibility.</p>
								</div>
								
								<div class="col-md-6 col-sm-6 spacing-base" style="padding-bottom: 40px;">
									<div class="spacing-small" style="height:100px;">
										<i class="fa fa-bullhorn fa-5x"></i>
									</div>
									<p style="font: 13px/1 'Open Sans', sans-serif;">Build you brand awareness via display ads. Your display ads can appear on desktops, laptops, tablets, and smartphones -- thus increasng awareness for your product or service.</p>
								</div>
								
							</div>
							<div class="line-ads">
								<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A; padding-top: 20px;">Request more information</h2>
								<h5 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif; padding-bottom: 40px;">Want to know more about advertising?  Give us a call at +63 923 4673840 or email us at team.marasigames@gmail.com</h5>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
        <!-- /.row -->
	</div>
        