<div class="container" style="width: 100%;">
	<header style="height: 50% !important;">
		<div>
			<carousel interval="myInterval" no-wrap="noWrapSlides" >
				<slide ng-repeat="slide in slides" active="slide.active" style="height: 100%;">
					<img ng-src="{{slide.image}}" style="height: 100%;" />
				</slide>
			</carousel>
		</div>
	</header>

	<nav class="category-bar">
	<ul>
	  <li class="dropdown"><i class="fa fa-cutlery"></i>  <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" style="color: #fff !important;">
			Party &amp; Wedding</a>
			<b class="caret"></b>
		<ul class="dropdown-menu">
			<li><a href="index.html#/list/Catering">Catering Services </a></li>
			<li><a href="index.html#/list/Floral">Floral Services </a></li>
			<li><a href="index.html#/list/Hall Rentals">Hall Rentals</a></li>
			<li><a href="index.html#/list/Photography and Video">Photography &amp; Video</a></li>
			<li><a href="index.html#/list/Event Planning and Organisers">Event Planning &amp; Organisers</a></li>
			<li><a href="index.html#/list/Invitation Designing">Invitation Designing</a></li>
			<li><a href="index.html#/list/Orchestra and Music">Orchestra &amp; Music</a></li>
			<li><a href="index.html#/list/Costume">Costume Rentals</a></li>
			<li><a href="index.html#/list/Lights and Sounds">Lights &amp; Sounds</a></li>
			<li><a href="index.html#/list/Bridal Hair and Make Up">Bridal Hair &amp; Make up</a></li>
			<li><a href="index.html#/list/Wedding Attire">Wedding Attire</a></li>
		</ul>
	  </li>
	  <li class="dropdown"><i class="fa fa-user"></i>  <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" style="color: #fff !important;">Professional Services</a> <b class="caret"></b>
		<ul class="dropdown-menu">
			<li><a href="index.html#/list/Courier and Distribution">Courier &amp; Distribution</a></li>
			<li><a href="index.html#/list/Engineering">Engineering Services</a></li>
			<li><a href="index.html#/list/Accounting">Accounting Services</a></li>
			<li><a href="index.html#/list/Legal">Legal Services</a></li>
			<li><a href="index.html#/list/Photography and Video">Photography &amp; Video</a></li>
			<li><a href="index.html#/list/Computer and IT">Computer &amp; IT Services</a></li>
			<li><a href="index.html#/list/Security">Security Services</a></li>
			<li><a href="index.html#/list/Training">Training Services</a></li>
		</ul>
	  </li>
	  <li class="dropdown"><i class="fa fa-home"></i>  <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" style="color: #fff !important;">Home Services</a> <b class="caret"></b>
		<ul class="dropdown-menu">
			<li><a href="index.html#/list/Home Construction">Home Construction</a></li>
			<li><a href="index.html#/list/Plumbing">Plumbing Services</a></li>
			<li><a href="index.html#/list/Waterproofing">Waterproofing Services</a></li>
			<li><a href="index.html#/list/Interior Designing">Interior Designing</a></li>
			<li><a href="index.html#/list/Flooring">Flooring Services</a></li>
			<li><a href="index.html#/list/Demolition">Demolition Services</a></li>
			<li><a href="index.html#/list/Appliance Repair">Appliance Repair services</a></li>
			<li><a href="index.html#/list/Cleaning">Cleaning Services</a></li>
			<li><a href="index.html#/list/Lawn and Garden">Lawn &amp; Garden Services</a></li>
			<li><a href="index.html#/list/Pest Control">Pest Control</a></li>
			<li><a href="index.html#/list/Solar Products and Installation">Solar Products &amp; Installation</a></li>
		</ul>
	  </li>
	  <li class="dropdown"><i class="fa fa-heartbeat"></i>  <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" style="color: #fff !important;">Health &amp; Wellness</a> <b class="caret"></b>
		<ul class="dropdown-menu">
			<li><a href="index.html#/list/Dental">Dental Services</a></li>
			<li><a href="index.html#/list/Family and Internal Medicine">Family &amp; Internal Medicine</a></li>
			<li><a href="index.html#/list/Psychiatry">Psychiatry Medicine</a></li>
			<li><a href="index.html#/list/Pediatrics">Pediatrics Medicine</a></li>
			<li><a href="index.html#/list/Obstetrics and Gynecology">Obstetrics &amp; Gynecology</a></li>
			<li><a href="index.html#/list/General Surgery">General Surgery</a></li>
			<li><a href="index.html#/list/Neurology">Neurology</a></li>
			<li><a href="index.html#/list/Orthopedic Surgery">Orthopedic Surgery</a></li>
			<li><a href="index.html#/list/Hematology and Oncology">Hematology &amp; Oncology</a></li>
			<li><a href="index.html#/list/Otolaryngology">Otolaryngology</a></li>
			<li><a href="index.html#/list/Cardiology">Cardiology</a></li>
			<li><a href="index.html#/list/Gastroenterology">Gastroenterology</a></li>
			<li><a href="index.html#/list/Urology">Urology Medicine</a></li>
			<li><a href="index.html#/list/Pulmonolgy">Pulmonolgy</a></li>
			<li><a href="index.html#/list/Dermatology">Dermatology</a></li>
			<li><a href="index.html#/list/Geriatrics">Geriatrics</a></li>
			<li><a href="index.html#/list/Anesthesiology">Anesthesiology</a></li>
			<li><a href="index.html#/list/Medical Supplies and Drugstores">Medical Supplies &amp; Drugstores</a></li>
			<li><a href="index.html#/list/Hospitals and Clinics">Hospitals &amp; Clinics</a></li>
			<li><a href="index.html#/list/Fitness and Personal Care">Fitness &amp; Personal Care</a></li>
		</ul>
	  </li>
	  <li class="dropdown"><i class="fa fa-building"></i>  <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" style="color: #fff !important;">Properties &amp; Rental</a> <b class="caret"></b>
		<ul class="dropdown-menu">
			<li><a href="index.html#/list/Apartments and Flats">Apartments &amp; Flats</a></li>
			<li><a href="index.html#/list/Residential Houses">Residential Houses</a></li>
			<li><a href="index.html#/list/Villas and Beach House">Villas &amp; Beach House</a></li>
			<li><a href="index.html#/list/Office Space">Office Space</a></li>
			<li><a href="index.html#/list/Virtual Office">Virtual Office</a></li>
			<li><a href="index.html#/list/Industrial Space">Industrial Space</a></li>
			<li><a href="index.html#/list/Vacant Lot">Vacant Lot</a></li>
			<li><a href="index.html#/list/Commercial Shops">Commercial Shops</a></li>
		</ul>
	  </li>
	  <li class="dropdown"><i class="fa fa-bus"></i>  <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;" style="color: #fff !important;">Travel Services</a> <b class="caret"></b>
		<ul class="dropdown-menu">
			<li><a href="index.html#/list/Gasoline Stations">Gasoline Stations</a></li>
			<li><a href="index.html#/list/Lodging">Lodging</a></li>
			<li><a href="index.html#/list/Pasalubong Centers">Pasalubong Centers</a></li>
			<li><a href="index.html#/list/Transport">Transport</a></li>
			<li><a href="index.html#/list/Travel Agencies">Travel Agencies</a></li>
			<li><a href="index.html#/list/Restaurants and Cafes">Restaurants &amp; Cafes</a></li>
			<li><a href="index.html#/list/Groceries and Convenience Stores">Groceries &amp; Convenience Stores</a></li>
		</ul>
	  </li>
	</ul>
	</nav>
	
	<div class="container-fluid featured-services" style="padding-top: 10px;" ng-show="show == 1">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center padding-base">
				<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A;">Featured Services</h2>
				<br />
				<div class="row">
					<div class="col-md-12 col-sm-6 spacing-base" ng-repeat="item in posts">
						<div class="spacing-small">
							<a href="#"><img class="img-responsive" ng-src="{{item.aPhotos[0]}}" alt="" style="max-height:100%;margin: auto;border: 1px solid #F7F7F0;height: 100px;width: 100px;"/></a>
						</div>
						<p style="font: 14px/1 'Open Sans', sans-serif; padding-top: 10px;">{{item.sName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid featured-services" style="padding-top: 10px;" ng-show="show == 2">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center padding-base">
				<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A;">Featured Services</h2>
				<br />
				<div class="row">
					<div class="col-md-6 col-sm-6 spacing-base" ng-repeat="item in posts">
						<div class="spacing-small">
							<a href="#"><img class="img-responsive" ng-src="{{item.aPhotos[0]}}" alt="" style="max-height:100%;margin: auto;border: 1px solid #F7F7F0;height: 100px;width: 100px;"/></a>
						</div>
						<p style="font: 14px/1 'Open Sans', sans-serif; padding-top: 10px;">{{item.sName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid featured-services" style="padding-top: 10px;" ng-show="show == 3">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center padding-base">
				<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A;">Featured Services</h2>
				<br />
				<div class="row">
					<div class="col-md-4 col-sm-6 spacing-base" ng-repeat="item in posts">
						<div class="spacing-small">
							<a href="#"><img class="img-responsive" ng-src="{{item.aPhotos[0]}}" alt="" style="max-height:100%;margin: auto;border: 1px solid #F7F7F0;height: 100px;width: 100px;"/></a>
						</div>
						<p style="font: 14px/1 'Open Sans', sans-serif; padding-top: 10px;">{{item.sName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid featured-services" style="padding-top: 30px;" ng-show="show == 4">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center padding-base">
				<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A;">Featured Services</h2>
				<br />
				<div class="row">
					<div class="col-md-3 col-sm-6 spacing-base" ng-repeat="item in posts">
						<div class="spacing-small">
							<a href="#"><img class="img-responsive" ng-src="{{item.aPhotos[0]}}" alt="" style="max-height:100%;margin: auto;border: 1px solid #F7F7F0;height: 100px;width: 100px;"/></a>
						</div>
						<p style="font: 14px/1 'Open Sans', sans-serif; padding-top: 10px;">{{item.sName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid download-app" style="padding-top: 40px;">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center padding-base">
				<h2 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;color: #FBA61A;">Connect with the right professionals to get your job done.</h2>
				<h4 class="text-primary spacing-base spacing-top-base" style="font: 'Open Sans', sans-serif;">Download masSulit app now</h4>
				<br />
				<div class="row">
					
					<div class="col-md-3 col-sm-6 spacing-base">
					</div>
					
					<div class="col-md-3 col-sm-6 spacing-base">
						<div class="spacing-small" style="height:100px;">
							<a href="#"><img class="img-responsive" src="images/button-android.png" alt="The new masSulit app helps you get things done, and fast" style="max-height:100%;margin:0 auto;" /></a>
						</div>
						<p style="font: 14px/1 'Open Sans', sans-serif;">Search thousands of business listings as fast as you can tap</p>
					</div>
					
					<div class="col-md-3 col-sm-6 spacing-base">
						<div class="spacing-small" style="height:100px;">
							<a href="#"><img class="img-responsive" src="images/button-app-store.png" alt="The new masSulit app helps you get things done, and fast" style="max-height:100%;margin:0 auto;" /></a>
						</div>
						<p style="font: 14px/1 'Open Sans', sans-serif;">Go the shortest path from to-do... to done. The new masSulit app helps you get things done, and fast.</p>
					</div>
					
					<div class="col-md-3 col-sm-6 spacing-base">
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
